.banner__titulo{
    font-family: 'Pacifico', cursive;
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translate(-50, -50%);
    text-shadow: 0 4px 4px rgba(0.0.0.0,75rem);
    font-size: 7rem;
    color: #8d0606;
}

    
@media screen and (max-width: 768px){
    .banner__titulo{
        top:32%;
        font-size: 3rem;
        margin-top: 4rem;
    }
    }

